version: "3.9"

services:
  api:
    build: .
    container_name: freshly_api
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: freshly_redis
    ports:
      - "6379:6379"